@using SecondHandMarket.Core
@using SecondHandMarket.Web.ViewModels.Settings
@model UserViewModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2 class="modal-title">BYT LÖSENORD</h2>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <input id="user-id" type="hidden" value="@Model.User.Id" />
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon min-width-200">NYTT LÖSENORD</div>
                        <input id="password1" class="form-control min-width-300" type="password" value="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon min-width-200">BEKRÄFTA NYTT LÖSENORD</div>
                        <input id="password2" class="form-control min-width-300" type="password" value="">
                    </div>
                </div>
            </form>

            <div class="text-center lead">
                <span id="error-message" class="bg-danger"></span>
            </div>

            <div class="modal-footer">
                <button id="change-password-button" type="button" class="btn btn-primary">SPARA</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">AVBRYT</button>
            </div>

        </div>

    </div>
</div>

<script>

    $('#change-password-button').click(function () {
        //Validate values
        if ($("#password1").val().length == 0) {
            $('#error-message').html("Du måste ange ett lösenord");
            $("#password1").focus();
            return;
        }

        if ($("#password1").val() != $("#password2").val()) {
            $('#error-message').html("Lösenorden stämmer inte");
            $("#password2").focus();
            return;
        }

        $.ajax({
            url: host + "settings/changepassword",
            type: "POST",
            data: JSON.stringify({
                password: $("#password1").val(),
                id: $("#user-id").val()
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#item-dialog').modal('hide');
                window.location.reload();
            },
            cache: false,
            async: false,
            error: function (jqXHR) {
                $('#error-message').html(jqXHR.status + ' ' + jqXHR.statusText);
                return false;
            }
        });
    });
</script>
